# Server
PORT=8000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=123456
DB_NAME=node_fulltask
DB_PORT=3306

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production_12345
JWT_EXPIRE=7d

# Email (Gmail)
EMAIL_USER=sasue001@gmail.com
EMAIL_PASSWORD=tocc nycj apjv twug
EMAIL_FROM=noreply@apiregister.com

# OTP
OTP_EXPIRY=300
OTP_LENGTH=6

# Rate Limit
RATE_LIMIT_WINDOW_MS=3600000
RATE_LIMIT_MAX_REQUESTS=5
